
.text {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 160%;
    color: rgb(52, 40, 32);
}

body {
    background-color: #ECE5D7;
}

.heading {
    display: flexbox;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.headingCategories {
    display: flexbox;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}


.headingimg {
    max-width: 100%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.headingimg2 {
    max-width: 80%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.arrow {
    max-width: 100%;
    animation: fadeInAnimation2 ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.question {
    display: flexbox;
    flex-direction: column;
    margin: auto;
    text-align: left;
    width: 50%;
    padding: 10px;
    
}

.answer {
    display: flexbox;
    flex-direction: column;
    margin: auto;
    text-align: right;
    width: 50%;
    padding: 10px;
}

.questionText {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140%;
    font-weight: 500;
    font-variation-settings:
    "wdth" 100;
    color: rgb(52, 40, 32);
}

.answerText {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140%;
    color: rgb(52, 40, 32);
}

.getStarted {
    border-color: transparent;
    background-color: transparent;
    background-image: url('getStarted.png');
    background-size: cover;
    width: 500px;
    height: 500px;
    background-position: center;
    animation: fadeInAnimation2 ease 26s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.categoryRow {
    display: flexbox;
    flex-direction: row;
    text-align: center;
}

.picButton {
    max-width: 20%;
    max-height: 20%;
}

.laptop {
    margin-right: 10px;
    background-image: url('laptop.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-color: transparent;
}

.laptop:hover {
    width: 300px;
    height: 300px;
}

.lamp {
    background-image: url('lamp.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-color: transparent;
}

.lamp:hover {
    width: 300px;
    height: 300px;
}

.play {
    background-image: url('play.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-color: transparent;
}

.play:hover {
    width: 300px;
    height: 300px;
}

.sweater {
    background-image: url('sweater.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-color: transparent;
}

.sweater:hover {
    width: 300px;
    height: 300px;
}



.next {
    padding: 10px 20px;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(156, 156, 79);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 150%;
    color: white;
}

.center {
    text-align: center;
}

.home {
    padding: 40px;
    background-image: url(greenblock.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-color: transparent;
}

.textInput {
    background-color: transparent;
    border-color: transparent;
    width: 70%;
    border-bottom: rgb(156, 156, 79) 2pt solid;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140%;
}

.textInput:focus {
    border-color: transparent;
    outline: none;
    border-bottom: rgb(51, 51, 33) 2pt solid;
    padding: 10px;
    color: rgb(52, 40, 32);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140%;
}

.buttonRow {
    display: flexbox;
    flex-direction: row;
}

.good {
    background-color: rgb(223, 168, 104);
    border-radius: 20px;
    border-color: transparent;
    padding: 10px;
    color: white;
}

.window {
    background-color: rgb(156, 156, 79);
    display: flexbox;
    flex-direction: column;
    text-align: left;
    margin: auto;
    height: 520px;
    width: 50%;
    border-radius: 20px;
    padding: 40px;
}

.icon {
    max-width: 15%;
    margin-right: 40px;
}

.input {
    margin-top: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border-color: transparent;
    border-radius: 20px;
    width: 70%;
    height: 40px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 140%;
}

.input:focus {
    outline: none;
}

.align {
    display: flex;
    flex-direction: row;
}